body {
    padding: 0;
    margin: 0;
    background-color: #3f3f3fe0;
}

h2{
    text-align: center;
    font-size: 28px;
    margin-top: 145px;
}

#token-info{
    background:#2c2c2c;
    height: 160px;
    width: 500px;
    margin-left: 31%;
    border-radius: 12px;
    text-align: center;
}